[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask-script = "*"
flask-migrate = "*"
pytest-flask = "*"
pytest = "*"
pylint = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
marshmallow = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
pytest = "*"

[requires]
python_version = "3.8"
